* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-weight: 600;
}

.content {
    padding: 20px;
}

#file-input {
    display: none;
}

#pdf-placeholder {
    width: 100%;
    border: 2px dashed #d0d0d0;
    border-radius: 10px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 20px;
    height: 150px;
    transition: border-color 0.3s;
}

#pdf-placeholder:hover {
    border-color: #4caf50;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.pdf-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none; /* Controlled by script */
}

#pdf-viewer {
    width: 100%;
    height: 500px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 20px;
    display: none; /* Controlled by script */
}

.page-nav {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 500px;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: background-color 0.3s, transform 0.3s;
    height: 50px;
}

.page-nav:hover {
    background-color: #267029;
    transform: translateY(-3px);
}

.page-nav:disabled {
    background-color: #555;
    cursor: default;
}

#page-info {
    display: none; /* Controlled by script */
}

#word-entry {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#word-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid #d0d0d0;
    background-color: #f7f7f7;
    color: #333;
    transition: border-color 0.3s;
}

#word-input:focus {
    border-color: #4caf50;
}

#add-word {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#add-word:hover {
    background-color: #267029;
    transform: translateY(-3px);
}

#word-list {
    margin-top: 20px;
    max-height: 200px; /* Adjust this value as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    padding-right: 10px; /* Optional: to ensure scrollbar doesn't overlap content */
}

.word-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #e8e8e8;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.word-item:hover {
    background-color: #d0d0d0;
    cursor: pointer;
}

.word-text {
    flex: 1;
}

.word-actions button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.word-actions button:hover {
    background-color: #267029;
}

.word-actions .delete-button {
    background-color: #f44336;
}

.word-actions .delete-button:hover {
    background-color: #d32f2f;
}

.generate-config-btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.generate-config-btn:hover {
    background-color: #0b7dda;
    transform: translateY(-3px);
}

.generate-config-btn:disabled {
    background-color: #555;
    cursor: default;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .header {
        padding: 10px 20px;
    }

    .content {
        padding: 20px;
    }
}