* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    background-color: #2d2d2d;
    border-radius: 8px;
    overflow: hidden;
    width: 80%;
    max-width: 600px;
}

.header {
    background-color: #4caf50;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.content {
    padding: 20px;
}

#file-input {
    display: none;
}

#pdf-placeholder {
    width: 100%;
    border: 2px dashed #444;
    border-radius: 4px;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 20px;
    height: 150px;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.pdf-navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}

#pdf-viewer {
    width: 100%;
    height: 500px;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;
    margin: 0 20px;

    display: none;
}

.page-nav {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 500px;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: background-color 0.3s;
    height: 50px;
}

.page-nav:hover {
    background-color: #267029;
}

.page-nav:disabled {
    background-color: #555;
    cursor: default;
}

#page-info {
    display: none;
}

/* Add this to vertically center the canvas within the viewer */
canvas {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .header {
        padding: 10px 20px;
    }

    .content {
        padding: 20px;
    }
}









#word-entry {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#word-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #252525;
    color: #fff;
}

#add-word {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-word:hover {
    background-color: #267029;
}

#word-list {
    margin-top: 20px;
    max-height: 200px; /* Adjust this value as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    padding-right: 10px; /* Optional: to ensure scrollbar doesn't overlap content */
}

.word-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    border-radius: 4px;
}

.word-item:hover{
    cursor: pointer;
    background-color: #2b2b2b;
}


.word-text {
    flex: 1;
}

.word-actions button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.word-actions button:hover {
    background-color: #267029;
}

.word-actions .delete-button {
    background-color: #f44336;
}

.word-actions .delete-button:hover {
    background-color: #d32f2f;
}

.word-sliders {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.slider-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.slider-label {
    margin-right: 5px;
    white-space: nowrap; /* Prevent the label from wrapping */
}

.slider-input {
    flex-grow: 1; /* Allow the slider to take up the remaining space */
}

.generate-config-btn {
    display: block; 
    width: 100%; 
    padding: 15px 20px;
    margin-top: 10px; 
    background-color: #2196F3; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s;
}

.generate-config-btn:hover {
    background-color: #0b7dda; 
}

.generate-config-btn:disabled {
    background-color: #555;
    cursor: default;
}