<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Slicer</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="button-container">
        <a href="slice.html" class="action-btn">
            <span class="icon">&#128190;</span>
            <span>Use Existing Config</span>
        </a>
        <a href="create-config.html" class="action-btn">
            <span class="icon">&#128394;</span>
            <span>Create New Config</span>
        </a>
    </div>
</body>

</html>