* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.action-btn {
    background-color: #ffffff;
    color: #333;
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    max-width: 300px;
    height: 200px;
}

.action-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.action-btn:active {
    transform: translateY(-2px);
}

.icon {
    font-size: 4em;
    margin-bottom: 10px;
    color: #4caf50;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
    }
}