<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Slicer</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="button-container">
        <a href="slice.html" class="action-btn">
            <div class="icon">&#128190;</div>
            <div>Use Existing Config</div>
        </a>
        <a href="create-config.html" class="action-btn">
            <div class="icon">&#128394;</div>
            <div>Create New Config</div>
        </a>
    </div>
</body>

</html>